body {
    margin: 0;
    padding: 0;
    background-color: #0E1611;
    color: #FAF6F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    max-width: 150px;
    margin-bottom: 30px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #CCCCCC;
}
